/*fonts*/

body {
    font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    /*background-image: url('http://freeseamlesstextures.com/images/33-crinkled-paper-background-lrg.jpg');*/

    color: #333;
}
/*header*/

hgroup {
    text-align: center;
}
h1 {
    font-size: 100px;
    margin: 20px 0 10px 0;
}
h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-style: italic;
    color: #333;
}
#snacker {
    font-style: italic;
    color: #ff6600;
}


/*signup*/

.signup-form, .login-form{
  width: 210px;
  margin: 0 auto;
}

.signup-btn .login-btn{
  margin: 0 auto;
}

.signup-form {
  float: left;
  margin-left: 20%;
}

.login-form {
  float: right;
  margin-right: 20%;
}

.forms {
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
}

/*newsfeed*/

h3 {
    text-align: center;
    /*    border: solid 1px #ddd;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    background-color: #efefef;
    box-shadow: inset 0 0 10px #ddd;*/
}
.feed {
    color: #ff6600;
    font-style: normal;
}
.newsfeed_js {
    width: 50%;
    margin: 0 auto;
}
.newsfeed_js p {
    margin: 0;
}
.story {
    overflow: hidden;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: .25em;
    margin: .25em;
    display: block;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
.title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 300;
}
.author {
    font-weight: 100;
    font-size: 12px;
    padding-bottom: 5px;
    text-align: right;
    color: #333;
    margin: 0 5px 0 5px;
}
button, .signup-btn {
    border: 1px solid #ffad41;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    /*font-weight: bold;*/

    color: #FFFFFF;
    background-color: #ffc579;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#ff6600));
    background-image: -webkit-linear-gradient(top, #ffc579, #ff6600);
    background-image: -moz-linear-gradient(top, #ffc579, #ff6600);
    background-image: -ms-linear-gradient(top, #ffc579, #ff6600);
    background-image: -o-linear-gradient(top, #ffc579, #ff6600);
    background-image: linear-gradient(to bottom, #ffc579, #ff6600);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffc579, endColorstr=#ff6600);
}
button:hover, .signup-btn:hover{
    border: 1px solid #ff9913;
    background-color: #ffaf46;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
    background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
    background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
    background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
    background-image: -o-linear-gradient(top, #ffaf46, #e78404);
    background-image: linear-gradient(to bottom, #ffaf46, #e78404);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffaf46, endColorstr=#e78404);
}
a {
    text-decoration: none;
    color: #ababab;
    font-size: 16px;
}
.p_url {
    float: right;
}

/*footer*/

footer {
    text-align: center;
}