<div class="login-form">
  <form action="/login" method="post">
      <h3>Log in!</h3>
      <div><label for="username"> Username:</label><div class="form-box"><input type="text" name="username" required></div></div><br>
      <div><label for="password"> Password:</label><div class="form-box"><input type="password" name="password" required></div></div><br>
      <input class="signup-btn" type="submit" value="Log in">
  </form>
</div>