  <div class="newsfeed_js">

  </div>

  <div class="pocket">

  </div>

  <div id="story_template" style="display: none;">
    <div class="story">
      <p class="p_left">
        <strong class="title p_left">Title</strong><em class="author p_right">Author</em>
      </p>
      <p>
        <button type="submit" formaction='/story' class="pocket_button">Put in Pocket</button>
      </p>
      <p class="p_right"><a href="" class="url" target="_blank">Go to Article &#8594;</a></p>
    </div>
  </div>