<div class="signup-form">
    <form action="/users/new" method="post">
        <h3>Sign up!</h3>
        <div><label for="username"> Username:</label>
            <div class="form-box"><input type="text" name="username" required></div>
        </div>
        <br>
        <div><label for="email"> Your Email:</label>
          <div class="form-box"><input type="text" name="email" required></div>
        </div>
        <br>
        <div><label for="password"> Choose a Password:</label>
          <div class="form-box"><input type="password" name="password" required></div>
        </div>
        <br>
        <input class="signup-btn" type="submit" value="Sign up!">
    </form>
</div>