<div class="newsfeed_js">
  <% @current_user.stories.each do |story| %>

  <div class="story">
    <p class="p_left">
      <strong class="title p_left"> <%= story.title %> </strong><em class="author p_right"> <%= story.author %> </em>
    </p>
    <p class="p_right"><a href="<%= story.url %>" class="url" target="_blank">Go to Article &#8594;</a></p>
  </div>

  <% end %>

</div>