<div class="newsfeed">

  <% @current_user.stories.each do |story| %>

  <div class="story">
    <h4 class="title"><%= story.title %></h4><p class="author"><%= story.author %></p>
    <p class="url"><%= story.url %></p>
  </div>

  <% end %>

</div>