<div class="container">
  <header>
    <hgroup>
      <h1>Hacker<span id="snacker">Snacker</span></h1>
      <h2>Pocket your Hacker News articles to snack on later.</h2>
    </hgroup>
  </header>
  <% unless current_user %>
    <div class="forms">
      <%= erb :_signup %>
      <%= erb :_login %>
    </div>
  <% end %>

  <h3>News <em class="feed">Feed</em> - Top 100 Stories</h3>

  <%= erb :_newsfeed %>

</div>