<div class="container">
  <% unless current_user %>
    <div class="forms">
      <%= erb :_signup %>
      <%= erb :_login %>
    </div>
  <% end %>

  <h3>News <em class="feed">Feed</em> - Top 100 Stories</h3>

  <%= erb :_newsfeed %>

</div>