<div class="container">
  <h3>News Feed - Top 100 Stories</h3>

  <div class="newsfeed_js">

  </div>

  <div id="story_template" style="display: none;">
    <div class="story">
      <p><strong class="title">Title</strong> <em class="author">Author</em></p>
      <p><a href="" class="url">Go to Article</a></p>
    </div>
  </div>

</div>