<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
  <title>HackerSnacker</title>
</head>
<body>
  <header>
    <hgroup>
      <h1>Hacker<span id="snacker">Snacker</span></h1>
      <h2>Pocket your Hacker News articles to snack on later.</h2>
    </hgroup>
  </header>
  <%= yield %>
  <footer>
    <p>HackerSnacker 2014 &copy All Rights Reserved</p>
  </footer>
</body>
</html>
